@import "./reset.css";

/* Variables */

:root {
   --card-width: 308px;
   --cards-wrapper-width: calc(
      var(--num-visible-cards) * var(--card-width) +
         (var(--num-visible-cards) - 1) * var(--card-spacing)
   );
   --card-spacing: 26px;
   --num-visible-cards: 3;
   --num-total-cards: 3;
   --grid-height: 19px;
   --avatar-width: 50px;
   --avatar-height: var(--avatar-width);
}

/* Global styles */

body {
   background-color: #f6f6f6;
}

main {
   width: 100%;
}

a {
   text-decoration: none;
}

/* Top level cards wrapper */

.cards-wrapper {
   /* background-color: gray; */
   padding: var(--card-spacing);
   overflow: hidden;
   width: var(--cards-wrapper-width);
}

/* Direct container for the cards */

.cards {
   /* background-color: red; */
   width: calc(
      var(--num-total-cards) * var(--card-width) +
         ((var(--num-total-cards) - 1) * var(--card-spacing))
   );
   display: flex;
   justify-content: space-between;

   /* transform: translateX(-100px); */
}

/* Individual card styles (top level) */

.card {
   /* background-color: dodgerblue; */
   background-color: #fff;
   flex-basis: var(--card-width);
   display: flex;
   flex-direction: column;
   font-family: Arial;
   border: 2px solid #f3f3f3;
   border-radius: 2px;
}

.card-image {
   /* background-color: goldenrod; */
   height: calc(var(--grid-height) * 7);
   /* background-image: image_url */
   background-image: url(http://lorempixel.com/300/150/);
   background-size: 100% auto;
}

.card-contents {
   padding: 0 var(--grid-height) var(--grid-height) var(--grid-height);
}

/* Individual card styles (inner content) */

.card-header {
   height: calc(var(--grid-height) * 4);
   display: flex;
   align-items: center;
}

.card-avatar {
   width: 50px;
   height: 50px;
}

.card-header-text {
   padding-left: var(--grid-height);
   height: calc(var(--grid-height) * 2);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.card-title {
   font-size: 23px;
   color: #3a3a3a;
   font-weight: bold;
}

.card-subtitle {
   font-size: 12px;
   color: #adadad;
   text-transform: uppercase;
}

.card-body {
   font-size: 12px;
   padding: 0 0 var(--grid-height) 0;
   line-height: 1.583;
}

.card-footer {
   font-size: 16px;
   color: #2da936;
   font-weight: bold;
}

.card-footer a,
.card-footer a:visited {
   color: inherit;
}

/* Navigation (slider toggles) */

.card-nav-container {
   display: flex;
   justify-content: center;
   padding: 0 var(--card-spacing);
   width: var(--cards-wrapper-width);
}

.card-nav {
   /* background-color: blue; */
   flex-basis: 40px;
   display: flex;
   justify-content: space-between;
}

.card-nav a,
.card-nav a:visited {
   color: #299638;
   font-weight: bold;
}
