/* Global styles */

/* Reset */
body,
html,
div,
span,
h1,
h2 {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: Arial;
   vertical-align: baseline;
}

body {
   background-color: #f6f6f6;
}

main {
   width: 100%;
}

a {
   text-decoration: none;
   transition: 0.2s all;
}

/* Top level cards wrapper */

.card-slider {
   --card-width: 308px;
   --cards-wrapper-width: calc(
      (var(--num-visible-cards) * var(--card-width)) +
         (var(--num-visible-cards) * var(--card-spacing)) -
         (var(--card-spacing) / 2)
   );
   --card-spacing: 26px;
   --num-visible-cards: 3;
   --num-total-cards: 3;
   --grid-height: 19px;
   --avatar-width: 50px;
   --avatar-height: var(--avatar-width);

   padding: calc(var(--card-spacing) / 2);
   overflow: hidden;
   width: var(--cards-wrapper-width);
}

/* Direct container for the cards */

.cards {
   width: calc(
      var(--num-total-cards) * var(--card-width) +
         ((var(--num-total-cards) - 1) * var(--card-spacing))
   );
   display: flex;
   transition: 0.4s ease-out;
}

/* Individual card styles (top level) */

.card {
   margin: calc(var(--card-spacing) / 2);
   flex-basis: var(--card-width);
   display: flex;
   flex-direction: column;
   font-family: Arial;
   outline: 2px solid #f3f3f3;
   border-radius: 2px;
}

.card-image {
   height: calc(var(--grid-height) * 7);
   background-image: url(http://lorempixel.com/300/150/);
   background-size: 100% auto;
}

.card-contents {
   background-color: #fff;
   padding: 0 var(--grid-height) var(--grid-height) var(--grid-height);
   flex: 1;
   display: flex;
   flex-direction: column;
}

/* Individual card styles (inner content) */

.card-header {
   padding-top: var(--grid-height);
   padding-bottom: var(--grid-height);
   display: flex;
   align-items: center;
}

.card-avatar {
   width: 50px;
   height: 50px;
}

.card-header-text {
   padding-left: var(--grid-height);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.card-title {
   font-size: 23px;
   color: #3a3a3a;
   font-weight: bold;
}

.card-subtitle {
   font-size: 12px;
   color: #adadad;
   text-transform: uppercase;
}

.card-body {
   font-size: 12px;
   padding: 0 0 var(--grid-height) 0;
   line-height: 1.583;
}

.card-footer {
   font-size: 16px;
   font-weight: bold;
   flex: 1;
   display: flex;
}

.card-footer a,
.card-footer a:visited {
   color: #2da936;
   align-self: flex-end;
}

.card-footer a:hover {
   color: orange;
}
.card-footer a:active {
   color: #2da936;
}

/* Navigation (slider toggles) */

.card-nav-container {
   padding: calc(var(--card-spacing) / 2);
   display: flex;
   justify-content: center;
}

.card-nav {
   flex-basis: 40px;
   display: flex;
   justify-content: space-between;
}

.card-nav a,
.card-nav a:visited {
   color: #299638;
   font-weight: bolder;
   font-family: "Courier New", sans-serif;
}

.card-nav a:hover {
   color: orange;
}

.card-nav a:active {
   color: #299638;
}

/* Extra styles */

h1.title {
   color: #888;
   border-bottom: 1px solid #ddd;
   padding-left: 10px;
   margin: 10px;
}
